.idea/
/target
/crawl/target
/manage/target
/crawl/crawl.iml
/manage/manage.iml
/orm/orm.iml
/orm/target
/common/target/
/common/common.iml
/spider-core/spider-core.iml
/spider-core/target/
/spider-config/spider-config.iml
/spider-config/target/
/spider-manage/target/
/spider-manage/spider-manage.iml
.Ds_Store
/spider-core/.Ds_Store
/spider-core/src/.Ds_Store
spider-frame.iml
